:root {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 1.4em;
  max-width: 500px;
  margin: auto;
}

/* components */
/* header */
.header {
  padding: 1.4em;
  text-align: center;
  margin-bottom: 1em;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.header h1 {
  font-size: 1.4rem;
}

/* balance */
.balance {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 1.6em;
}

.currency {
  font-size: 1.2rem;
}

.cash-amount {
  font-size: 3rem;
}

/* transaction */

.subheading {
  font-size: 1.2rem;
  border-bottom: 1px solid black;
}

/* transaction item */

.item {
  margin-top: 0.8em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: lightgray;
  padding: 0.4em 0.4em 0.4em 0.4em;
  border-radius: 3px;
}

.item + .item {
  margin-top: 0.8em;
}

.item-text {
  font-weight: 600;
}

.item-price {
  margin-left: auto;
  margin-right: 1em;
}

.btn {
  padding: 0.4em 0.8em 0.4em 0.8em;
  background-color: firebrick;
  color: white;
  border: none;
  border-radius: 3px;
}

/* Add transaction */

.form {
  margin-top: 0.8em;
}

form input {
  padding: 0.3em;
  border: 1px solid black;
  border-radius: 3px;
}

.margin-top {
  margin-top: 1.6em;
}

form section + section {
  margin-top: 0.8em;
}

form .input-div {
  display: flex;
  flex-direction: column;
}

.input-div label {
  margin-bottom: 0.2em;
}

.radio + label {
  margin-right: 2em;
}

.label {
  margin-left: 0.4em;
}

.submit {
  margin-top: 0.8em;
  background-color: green;
}
